/* ABOUT ME PAGE STYLING */

.bio_section {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 8vh;
}

.skills_container {
    border: 1px solid black;
    height: 100px;
    width: 33%;
}

.bio_container {
    border: 1px solid black;
    height: 100px;
    width: 67%;
}