/* ABOUT ME PAGE STYLING */

.bio_section {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding-top: 4vh;
    border-bottom: 1px solid #C7C7C7;
    margin-bottom: 8vh;
}

/* Styling for skills section */

.skills_container {
    height: 100vh;
    width: 33%;
    margin-right: 44px;
    line-height: 40px;
}

.bio_headings {
    text-align: left;
    border-bottom: 1px solid #C7C7C7;
    margin-bottom: 16px;
}

.listitems_container {
    font-size: 16px;
}

.skills_list {
    list-style-type: circle;
    padding-left: 24px;
}

.bio_container {
    height: 100vh;
    width: 67%;
}