@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFFFFB;
}

p {
    color: #211713;
    line-height: 1.5;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    line-height: 1.25;
}

li {
    list-style-type: none;
}

/* NAVIGATION BAR */

nav {
    height: 80px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    display: flex;
}

.nav_logo {
    height: 50px;
    width: 80.19px;
    margin: 0 20px;
}

.nav_links {
    margin: 0 20px;
    color: #211713;
    text-decoration: none;
    font-weight: 700;
}

/* Contact button in nav bar */
.nav_link_contact {
    margin: 0 20px;
    background-color: #FF4B4B;
    padding: 8px 16px;
    border-radius: 80px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

/* Nav links hover */
.nav_link_contact:hover {
    opacity: 80%;
}

.nav_links:hover {
    opacity: 80%;
}

.nav_logo:hover {
    opacity: 60%;
}

/* Banner styling */

.banner {
    background-color: #FF4B4B;
    width: 100%;
    height: 120px;
}

/* ABOUT ME SECTION */

#about_me{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about_me_flex {
    flex: 1;
}

.about_me_info {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.about_me_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}